
/* RESET */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/* BASE */

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}
textarea {
    margin-bottom: -4px;
}

a,
button {
    cursor: url(https://unpkg.com/nes.css/assets/cursor-click.png), pointer!important;
}

/*
 * Medias Queries
 * 1200px   => Extra Large devices (xl)
 * 992px    => Larges devices (lg)
 * 768px    => Medium devices (md)
 * 576px    => Small Devices (sm)
 */

/* LAYOUT */

.container-first {
    order: 1;
}

.container-second {
    order: 2;
}

/* TYPOGRAPHY */

.paragraph-md {
    font-size: 2rem;
    font-family: "Press Start 2P";
}

/* UTILITARY */

.u-flexBox-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.u-padding-lg {
    padding-left: 3rem;
    padding-right: 3rem;
}

.u-text-centered {
    text-align: center;
}

/* COMPOSANT */

.c-link:hover {
    text-decoration: none;
    color: #00D1B2;
    -webkit-text-stroke: 0.075rem;
    -webkit-text-stroke-color: #FFFFFF;
}

/* NAVBAR */
.atg-header {
    padding: 1rem;
}

.atg-navbar {
    padding: 2rem 3.5rem!important;
}

.atg-navbarLogo {
    justify-content: center;
}

.atg-navbarLogo a:hover {
    background-color: transparent!important;
}

.atg-navbarMenu {
    justify-content: center;
    box-shadow: none;
}

/* #atgHeader {
    margin-top: -80px;
}

#atgHeader header {
    height: 80px;
    background: #000;
}

#atgHeader header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#product {
    padding: 60px 0;
    background: #0c9;
}

#atgHeader header.fixed+#product {
    margin-top: 80px;
}

#product div {
    width: 80%;
    height: 1500px;
    margin: auto;
    border: solid;
} */

/* ACCUEIL */

#accueil {
    height: 100%;
    background-color: orange;
}

/* MEDIA QUERIES */

@media screen and (min-width: 900px) {
    .navbar,
    .navbar-menu,
    .navbar-start,
    .navbar-end {
        align-items: stretch;
        display: flex;
    }

    .navbar-menu {
        flex-grow: 1;
        flex-shrink: 0;
    }

    .navbar-item,
    .navbar-link {
        align-items: center;
        display: flex;
    }
}
